<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenSky Flight Map</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
    
        #map {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    
        #popup-bar {
        position: fixed;
        top: 0;
        right: -230px;
        width: 230px;
        height: 100%;
        background-color: #70939c;
        z-index: 1000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: right 0.3s ease;
        margin-top: 50px;
    }

    #popup-bar div {
        margin-top: 10px;
        margin-bottom: 10px; /* Adjusted the space between the menu items */
        width: 100%; /* Added to ensure full width */
        padding-left: 20px; /* Added to push elements to the right */
        font-family: Arial, Helvetica, sans-serif, sans-serif; /* Change font */
        font-size: small;
    }
    
    #settings-icon {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1001;
        cursor: pointer;
    }
    
    #settings-icon img {
        width: 24px;
        height: 24px;
    }

    #apply-filters, #reset-filters {
        display: flex;
        justify-content: center;
    }

    #apply-filters button, #reset-filters button {
        width: 80%; 
        border-radius: 7px; /* Adjust as needed to make the buttons more rounded */
        font-family: Arial, Helvetica, sans-serif, sans-serif; /* Change font */
    }
    </style>
    <!-- Include Leaflet CSS and JS files -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Include Leaflet MarkerCluster CSS and JS files -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
</head>
<body>
    <div id="popup-bar">
        <!-- Dropdown menu for filtering if the plane is on the ground or not -->
        <div id="onGroundFilter">
            <label for="onGroundDropdown">Position Filter:</label>
            <select id="onGroundDropdown">
                <option value="all">All</option>
                <option value="true">On The Ground</option>
                <option value="false">In the Air</option>
            </select>
        </div>

        <!-- Dropdown menu for filtering by origin country -->
        <div id="countryFilter">
            <label for="countryDropdown">Country Filter:</label>
            <select id="countryDropdown">
                <option value="all">All</option>
                {% for country in unique_countries %}
                    <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Apply and Reset buttons -->
        <div id="apply-filters">
            <button onclick="applyFilters()"> Apply Filters</button>
        </div>
        <div id="reset-filters">
            <button onclick="resetFilters()"> Reset Filters</button>
        </div>
    </div>

    <div id="settings-icon" onclick="toggleMenu()">
        <img src="{{ url_for('static', filename='settings.png') }}" alt="Settings">
    </div>

    <div id="map" style="width: 100%; height: 100%;"></div>

    <script>
        var menuOpen = false;

        function toggleMenu() {
            menuOpen = !menuOpen;
            var popupBar = document.getElementById('popup-bar');
            var map = document.getElementById('map');
            var settingsIcon = document.getElementById('settings-icon');

            if (menuOpen) {
                popupBar.style.right = '0';
                map.style.overflowX = 'hidden';
            } else {
                popupBar.style.right = '-250px';
                map.style.overflowX = 'auto';
            }
        }

        // Create a Leaflet map centered around a specific location
        var mymap = L.map('map', {
            center: [2, 3],
            zoom: 3,
            minZoom: 2,
            maxZoom: 8,
            worldCopyJump: false,
            maxBounds: L.latLngBounds(L.latLng(-90, -180), L.latLng(90, 180))
        });
        // Replace the OpenStreetMap tile layer with Mapbox
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(mymap);

        // Function to create a custom plane icon with rotation
        function createPlaneIcon(rotation) {
            return L.divIcon({
                className: 'plane-icon',
                html: `<img src="{{ url_for('static', filename='plane.png') }}" style="transform: rotate(${rotation}deg);width: 20px; height: 20px;">`,
                iconAnchor: [8, 8],
                popupAnchor: [0, -10]
            });
        }

        // Add MarkerClusterGroup for clustering markers
        var markers = L.markerClusterGroup();

        // Add markers for each plane location
        {% for aviao in avioes %}
            // Check if latitude and longitude are not null
            {% if aviao.latitude is not none and aviao.longitude is not none and aviao.true_track is not none %}
                // Convert true_track to rotation angle
                var rotation = {{ aviao.true_track }} - 90;

                var marker = L.marker([{{ aviao.latitude }}, {{ aviao.longitude }}], {
                    icon: createPlaneIcon(rotation)
                }).bindPopup('<b>Icao24:</b> {{ aviao.icao24 }}<br>' +
                    '<b>Callsign:</b> {{ aviao.callsign }}<br>' +
                    '<b>Origin Country:</b> {{ aviao.origin_country }}<br>' +
                    '<b>Time Position:</b> {{ aviao.time_position }}<br>' +
                    '<b>Last Contact:</b> {{ aviao.last_contact }}<br>' +
                    '<b>Longitude:</b> {{ aviao.longitude }}<br>' +
                    '<b>Latitude:</b> {{ aviao.latitude }}<br>' +
                    '<b>Geo Altitude:</b> {% if aviao.geo_altitude is not none %}{{ aviao.geo_altitude }} meters{% else %}0 meters{% endif %}<br>' +
                    '<b>On Ground:</b> {{ aviao.on_ground }}<br>' +
                    '<b>Velocity:</b> {% if aviao.velocity is not none %}{{ aviao.velocity }} kts{% else %}0 kts{% endif %}<br>' +
                    '<b>True Track:</b> {{ aviao.true_track }}<br>' +
                    '<b>Vertical Rate:</b> {% if aviao.vertical_rate is not none %}{{ aviao.vertical_rate }} meters{% else %}0 meters{% endif %}<br>' +
                    '<b>Baro Altitude:</b>{% if aviao.baro_altitude is not none %}{{ aviao.baro_altitude }} meters{% else %}0 meters{% endif %}<br>');
                markers.addLayer(marker);
            {% endif %}
        {% endfor %}

        // Add the MarkerClusterGroup to the map
        mymap.addLayer(markers);

        // Function to reset filters
        function resetFilters() {
            document.getElementById('onGroundDropdown').value = 'all';
            document.getElementById('countryDropdown').value = 'all';
            
            // Clear the URL parameters for filters
            window.history.pushState({}, '', '');

            markers.clearLayers();

            // Add markers for each plane location without applying filters
            {% for aviao in avioes %}
                // Check if latitude and longitude are not null
                {% if aviao.latitude is not none and aviao.longitude is not none and aviao.true_track is not none %}
                    var rotation = {{ aviao.true_track }} - 90;

                    var marker = L.marker([{{ aviao.latitude }}, {{ aviao.longitude }}], {
                        icon: createPlaneIcon(rotation)
                    }).bindPopup('<b>Icao24:</b> {{ aviao.icao24 }}<br>' +
                    '<b>Callsign:</b> {{ aviao.callsign }}<br>' +
                    '<b>Origin Country:</b> {{ aviao.origin_country }}<br>' +
                    '<b>Time Position:</b> {{ aviao.time_position }}<br>' +
                    '<b>Last Contact:</b> {{ aviao.last_contact }}<br>' +
                    '<b>Longitude:</b> {{ aviao.longitude }}<br>' +
                    '<b>Latitude:</b> {{ aviao.latitude }}<br>' +
                    '<b>Geo Altitude:</b> {% if aviao.geo_altitude is not none %}{{ aviao.geo_altitude }} meters{% else %}0 meters{% endif %}<br>' +
                    '<b>On Ground:</b> {{ aviao.on_ground }}<br>' +
                    '<b>Velocity:</b> {% if aviao.velocity is not none %}{{ aviao.velocity }} kts{% else %}0 kts{% endif %}<br>' +
                    '<b>True Track:</b> {{ aviao.true_track }}<br>' +
                    '<b>Vertical Rate:</b> {% if aviao.vertical_rate is not none %}{{ aviao.vertical_rate }} meters{% else %}0 meters{% endif %}<br>' +
                    '<b>Baro Altitude:</b>{% if aviao.baro_altitude is not none %}{{ aviao.baro_altitude }} meters{% else %}0 meters{% endif %}<br>');
                    markers.addLayer(marker);
                {% endif %}
            {% endfor %}

            // Add the MarkerClusterGroup to the map
            mymap.addLayer(markers);
        }

        // Function to apply filters
        function applyFilters() {
            var onGroundFilter = document.getElementById('onGroundDropdown').value;
            var countryFilter = document.getElementById('countryDropdown').value;

            // Update the URL with the selected filters
            //var url = `?on_ground=${onGroundFilter}&country=${countryFilter}`;
            //window.history.pushState({}, '', url);

            markers.clearLayers();

            // Add markers for each plane location
            {% for aviao in avioes %}
                // Check if latitude and longitude are not null
                if (
                    {{ aviao.latitude }} !== null && {{ aviao.longitude }} !== null &&
                    (
                        (onGroundFilter === 'all') ||
                        (onGroundFilter === 'true' && {{ aviao.on_ground }} === 1) ||
                        (onGroundFilter === 'false' && {{ aviao.on_ground }} === 0)
                    ) &&
                    ('{{ aviao.origin_country }}' === countryFilter || countryFilter === 'all')
                ) {
                    var rotation = {{ aviao.true_track }} - 90;

                    var marker = L.marker([{{ aviao.latitude }}, {{ aviao.longitude }}], {
                        icon: createPlaneIcon(rotation)
                    }).bindPopup('<b>Icao24:</b> {{ aviao.icao24 }}<br>' +
                        '<b>Callsign:</b> {{ aviao.callsign }}<br>' +
                        '<b>Origin Country:</b> {{ aviao.origin_country }}<br>' +
                        '<b>Time Position:</b> {{ aviao.time_position }}<br>' +
                        '<b>Last Contact:</b> {{ aviao.last_contact }}<br>' +
                        '<b>Longitude:</b> {{ aviao.longitude }}<br>' +
                        '<b>Latitude:</b> {{ aviao.latitude }}<br>' +
                        '<b>Geo Altitude:</b>  {% if aviao.geo_altitude is not none %}{{ aviao.geo_altitude }} meters{% else %}0 meters{% endif %}<br>' +
                        '<b>On Ground:</b> {{ aviao.on_ground }}<br>' +
                        '<b>Velocity:</b> {% if aviao.velocity is not none %}{{ aviao.velocity }} m/s{% else %}0 m/s{% endif %}<br>' +
                        '<b>True Track:</b> {{ aviao.true_track }}<br>' +
                        '<b>Vertical Rate:</b> {% if aviao.vertical_rate is not none %}{{ aviao.vertical_rate }} meters{% else %}0 meters{% endif %}<br>' +
                        '<b>Sensors:</b> {{ aviao.sensors }}<br>' +
                        '<b>Baro Altitude:</b>{% if aviao.baro_altitude is not none %}{{ aviao.baro_altitude }} meters{% else %}0 meters{% endif %}<br>' +
                        '<b>Squawk:</b> {{ aviao.squawk }}<br>' +
                        '<b>SPI:</b> {{ aviao.spi }}<br>' +
                        '<b>Position Source:</b> {{ aviao.position_source }}<br>' +
                        '<b>Category:</b> {{ aviao.category }}');
                    markers.addLayer(marker);
                }
            {% endfor %}

            // Add the MarkerClusterGroup to the map
            mymap.addLayer(markers);
        }
    </script>
</body>
</html>
