<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenSky Flight Map</title>
    <!-- Include Leaflet CSS and JS files -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Include Leaflet MarkerCluster CSS and JS files -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
</head>
<body>
    <div id="map" style="width: 1910px; height: 800px;"></div>
    
    <!-- Dropdown menu for filtering if the plane is on gorund or not -->
    <div id="onGroundFilter" style="margin-top: 10px;">
        <label for="onGroundDropdown">Filter by On Ground:</label>
        <select id="onGroundDropdown">
            <option value="all">All</option>
            <option value="true">On Ground</option>
            <option value="false">In the Air</option>
        </select>
    </div>

    <!-- Dropdown menu for filtering by origin country -->
    <div id="countryFilter" style="margin-top: 10px;">
        <label for="countryDropdown">Filter by Country:</label>
        <select id="countryDropdown">
            <option value="all">All</option>
            {% for country in unique_countries %}
                <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
        </select>
    </div>
    <!-- Add the custom icon style -->
    <style>
        .plane-icon {
            width: 8px;
            height: 8px;
            margin-left: -12px;
            margin-top: -12px;
        }
    </style>

    <!-- Apply button -->
    <button style="margin-top: 10px; margin-right: 10px;" onclick="applyFilters()">Apply Filters</button>
    <button onclick="resetFilters()">Reset Filters</button>
    <script>
        // Create a Leaflet map centered around a specific location
        var mymap = L.map('map', {
            center: [2, 3],
            zoom: 3,
            minZoom: 2,
            maxZoom: 8,
            worldCopyJump: false,
            maxBounds: L.latLngBounds(L.latLng(-90, -180), L.latLng(90, 180))
        });
        // Replace the OpenStreetMap tile layer with Mapbox
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(mymap);

        // Function to create a custom plane icon with rotation
        function createPlaneIcon(rotation) {
            return L.divIcon({
                className: 'plane-icon',
                html: `<img src="{{ url_for('static', filename='plane.png') }}" style="transform: rotate(${rotation}deg);width: 20px; height: 20px;">`,               
                iconAnchor: [8, 8],
                popupAnchor: [0, -10]
            });
        }
        // Add MarkerClusterGroup for clustering markers
        var markers = L.markerClusterGroup();

        // Add markers for each plane location
        {% for aviao in avioes %}
            // Check if latitude and longitude are not null
            {% if aviao.latitude is not none and aviao.longitude is not none and aviao.true_track is not none %}
                // Convert true_track to rotation angle
                var rotation = {{ aviao.true_track }} - 90;
                
                var marker = L.marker([{{ aviao.latitude }}, {{ aviao.longitude }}], {
                    icon: createPlaneIcon(rotation)
                }).bindPopup('<b>Icao24:</b> {{ aviao.icao24 }}<br>' +
                    '<b>Callsign:</b> {{ aviao.callsign }}<br>' +
                    '<b>Origin Country:</b> {{ aviao.origin_country }}<br>' +
                    '<b>Time Position:</b> {{ aviao.time_position }}<br>' +
                    '<b>Last Contact:</b> {{ aviao.last_contact }}<br>' +
                    '<b>Longitude:</b> {{ aviao.longitude }}<br>' +
                    '<b>Latitude:</b> {{ aviao.latitude }}<br>' +
                    '<b>Geo Altitude:</b>  {% if aviao.geo_altitude is not none %}{{ aviao.geo_altitude }} meters{% else %}0 meters{% endif %}<br>' +
                    '<b>On Ground:</b> {{ aviao.on_ground }}<br>' +
                    '<b>Velocity:</b> {% if aviao.velocity is not none %}{{ aviao.velocity }} meters{% else %}0 meters{% endif %}<br>' +
                    '<b>True Track:</b> {{ aviao.true_track }}<br>' +
                    '<b>Vertical Rate:</b> {% if aviao.vertical_rate is not none %}{{ aviao.vertical_rate }} meters{% else %}0 meters{% endif %}<br>' +
                    '<b>Baro Altitude:</b>{% if aviao.baro_altitude is not none %}{{ aviao.baro_altitude }} meters{% else %}0 meters{% endif %}<br>');
                markers.addLayer(marker);
            {% endif %}
        {% endfor %}

    
        // Add the MarkerClusterGroup to the map
        mymap.addLayer(markers);

         // Function to reset filters
        function resetFilters() {
            document.getElementById('onGroundDropdown').value = 'all';
            document.getElementById('countryDropdown').value = 'all';
            applyFilters();
        }

        // Function to apply filters
        function applyFilters() {
            var onGroundFilter = document.getElementById('onGroundDropdown').value;
            var countryFilter = document.getElementById('countryDropdown').value;

            // Update the URL with the selected filters
            var url = `?on_ground=${onGroundFilter}&country=${countryFilter}`;
            window.history.pushState({}, '', url);

            markers.clearLayers();

            // Add markers for each plane location
            {% for aviao in avioes %}
                // Check if latitude and longitude are not null
                if (
                    {{ aviao.latitude }} !== null && {{ aviao.longitude }} !== null &&
                    (
                        (onGroundFilter === 'all') ||
                        (onGroundFilter === 'true' && {{ aviao.on_ground }} === 1) ||
                        (onGroundFilter === 'false' && {{ aviao.on_ground }} === 0)
                    ) &&
                    ('{{ aviao.origin_country }}' === countryFilter || countryFilter === 'all')
                ) {
                    var rotation = {{ aviao.true_track }} - 90;
                    
                    var marker = L.marker([{{ aviao.latitude }}, {{ aviao.longitude }}], {
                        icon: createPlaneIcon(rotation)
                    }).bindPopup('<b>Icao24:</b> {{ aviao.icao24 }}<br>' +
                        '<b>Callsign:</b> {{ aviao.callsign }}<br>' +
                        '<b>Origin Country:</b> {{ aviao.origin_country }}<br>' +
                        '<b>Time Position:</b> {{ aviao.time_position }}<br>' +
                        '<b>Last Contact:</b> {{ aviao.last_contact }}<br>' +
                        '<b>Longitude:</b> {{ aviao.longitude }}<br>' +
                        '<b>Latitude:</b> {{ aviao.latitude }}<br>' +
                        '<b>Geo Altitude:</b>  {% if aviao.geo_altitude is not none %}{{ aviao.geo_altitude }} meters{% else %}0 meters{% endif %}<br>' +
                        '<b>On Ground:</b> {{ aviao.on_ground }}<br>' +
                        '<b>Velocity:</b> {% if aviao.velocity is not none %}{{ aviao.velocity }} meters{% else %}0 meters{% endif %}<br>' +
                        '<b>True Track:</b> {{ aviao.true_track }}<br>' +
                        '<b>Vertical Rate:</b> {% if aviao.vertical_rate is not none %}{{ aviao.vertical_rate }} meters{% else %}0 meters{% endif %}<br>' +
                        '<b>Sensors:</b> {{ aviao.sensors }}<br>' +
                        '<b>Baro Altitude:</b>{% if aviao.baro_altitude is not none %}{{ aviao.baro_altitude }} meters{% else %}0 meters{% endif %}<br>' +
                        '<b>Squawk:</b> {{ aviao.squawk }}<br>' +
                        '<b>SPI:</b> {{ aviao.spi }}<br>' +
                        '<b>Position Source:</b> {{ aviao.position_source }}<br>' +
                        '<b>Category:</b> {{ aviao.category }}');
                    markers.addLayer(marker);
                    mymap.setView([0, 0], 2);
                }
            {% endfor %}
            
            // Add the MarkerClusterGroup to the map
            mymap.addLayer(markers);
        }
    </script>
</body>
</html>